.imageslider > div {
	translate:  0px 0px;
	transition: translate 1s;
	z-index: 1;
}

.imageslider > div.current {
	animation: flasher 1.5s;
	z-index: 3;
}

@keyframes flasher {
  from {
    translate: 0px 100%;
  }
  to {
    translate: 0px 0px;
  }
}